/* Chart Styling */
.MuiChartsAxis-root {
    color: var(--text) !important;
    background-color: var(--background-color) !important;
    fill: var(--text) !important;
}

.MuiChartsAxis-directionY .MuiChartsAxis-label
{
    fill: var(--text) !important;
}

.MuiChartsAxis-directionX .MuiChartsAxis-label{
    fill: var(--text) !important;
}

.MuiChartsAxis-left {
    color: var(--text) !important;
    background-color: var(--background-color) !important;
    fill: var(--text) !important;
}

.MuiChartsAxis-right {
    color: var(--text) !important;
    background-color: var(--background-color) !important;
    fill: var(--text) !important;
}

.MuiChartsAxis-line {
    stroke: var(--text) !important;
}

.MuiChartsAxis-tick {
    stroke: var(--text) !important;
}

.MuiChartsAxis-tickLabel {
    color: var(--text) !important;
    background-color: var(--background-color) !important;
    fill: var(--text) !important;
}

.MuiChartsLegend-label {
    fill: var(--text) !important;  
    color: var(--text) !important; 
}

.MuiChartsLegend text {
    fill: var(--text) !important;
}