/*Styling for the calendar*/
.fc {
    --fc-bg-color: var(--background-color);
    --fc-border-color: var(--text);
    --fc-text-color: var(--text) !important;
    --fc-event-bg-color: var(--mid-pink);
    --fc-event-border-color: var(--darker-pink);
    --fc-event-text-color: var(--background-color);
    --fc-today-bg-color: var(--darker-background);


    /* Ensure the calendar takes up the whole height */
    height: 100%;
    overflow: hidden;
}

/* This is the text on the event that says period */
.fc-event-main {
    font-family: "Delius", serif;
}

.fc-view-container {
    height: 100%;
}

/* Prevent scrolling */
.fc-scroller {
    overflow: hidden !important;
}

.fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fc-toolbar-title {
    flex-grow: 1;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.fc-toolbar-title {
    font-family: "Playwrite IT Moderna", serif;
    color: var(--text);
    order: 2;
}

.fc-button {
    background-color: var(--darker-pink);
    color: var(--background-color);
}

/*This styles the today button*/
.fc-today-button.fc-button.fc-button-primary {
    font-family: "Playwrite IT Moderna", serif;
    background-color: var(--mid-pink);
    border-color: var(--mid-pink);
}

/*This styles the today button hover effect*/
.fc-today-button.fc-button.fc-button-primary:hover {
    background-color: var(--darker-pink);
    border-color: var(--darker-pink);
}

/*Styling for the left and right buttons*/
.fc-icon.fc-icon-chevron-left,
.fc-icon.fc-icon-chevron-right {
    color: var(--background-color);
    background-color: var(--mid-pink);
}

/*Styling for the left and right buttons*/
.fc-prev-button.fc-button.fc-button-primary,
.fc-next-button.fc-button.fc-button-primary {
    background-color: var(--mid-pink);
    border-color: var(--mid-pink);
}

/*Styles the Days of the week - Sun, Mon etc.*/
.fc-col-header-cell-cushion {
    background-color: var(--background-color);
    color: var(--text);
}

/*Styles the days of the month numbers*/
.fc-daygrid-day-number {
    color: var(--text) !important;
}

/*Style the grid the calendar is in for different screen sizes*/
.calendarWidth {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

