.fc .fc-highlight {
    background: var(--mid-pink);
}

.fc .trackCalendar {
    /* today doesn't need highlighted on the track page, it should be the selected date */
    --fc-today-bg-color: var(--background-color);
}

.calendarWidthTrack {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

/* pain track page */
.track-pain {
    background-color: var(--complementary2-light);
    border: var(--complementary2-text);
    border-width: .1em;
    border-style: solid;
    color: var(--complementary2-text);
    text-align: center;
    font-family: "Delius", serif;
}

.track-pain ion-icon {
    color: var(--complementary2-text)
}


.custom-ripple-pain {
    color: var(--complementary2-text);
}

.ion-activatable.clickedPain {
    background-color: var(--complementary-colour2);
    /* Highlight color */
    color: white;
    --ion-icon-color: white;
}

/* Skin track page */
.track-skin {
    background-color: var(--complementary-light);
    border: var(--complementary-text);
    border-width: .1em;
    border-style: solid;
    color: var(--complementary-text);
    text-align: center;
    font-family: "Delius", serif;
}

.track-skin ion-icon {
    color: var(--complementary-text)
}


.custom-ripple-skin {
    color: var(--complementary-text);
}

.ion-activatable.clickedSkin {
    background-color: var(--complementary-colour);
    /* Highlight color */
    color: white;
    --ion-icon-color: white;
}

/* period track page */
.track-period {
    background-color: var(--darker-background);
    border: var(--text);
    border-width: .1em;
    border-style: solid;
    color: var(--text);
    text-align: center;
    font-family: "Delius", serif;
}

.track-period ion-icon {
    color: var(--text)
}


.custom-ripple-period {
    color: var(--text);
}

.ion-activatable.clickedPeriod {
    background-color: var(--darker-pink);
    /* Highlight color */
    color: white;
    --ion-icon-color: white;
}

/* emotions track page */
.track-emotion {
    background-color: var(--complementary3-light);
    border: var(--complementary3-text);
    border-width: .1em;
    border-style: solid;
    color: var(--complementary3-text);
    text-align: center;
    font-family: "Delius", serif;
}

.track-emotion ion-icon {
    color: var(--complementary3-text)
}


.custom-ripple-emotion {
    color: var(--complementary3-text);
}

.ion-activatable.clickedEmotion {
    background-color: var(--complementary-colour3);
    /* Highlight color */
    color: white;
    --ion-icon-color: white;
}

/* colour for clicked icon */
.clickedIcon ion-icon {
    color: white
}


.trackRows {
    padding-bottom: 20px;
}

/* Style the date in the calendar */
.date-event {
    background-color: var(--mid-pink);
    border-color: var(--mid-pink);
    --fc-event-text-color: var(--mid-pink);
}

.h3-padding {
    padding-top: 0px;
}

/*Fix the save button to the bottom at all times */
.save-btn {
    position: fixed;
    bottom: 10px;
}

.track-bottom {
    padding-bottom: 120px;
}

.photo-button {
    --background: var(--complementary-colour4) !important;
    --color: white !important;
}
