img {
    width: 50%;
    max-height: auto;
}

.light .guide {
    --background: var(--complementary-colour2) !important;
    --ripple-color: var(--complementary2-text);
}

/* guide button hover */
.light .guide ion-button:active,
ion-button:hover {
    --background: var(--complementary2-text) !important;
}

.dark .guide {
    --background: var(--complementary-colour2) !important;
    --ripple-color: var(--complementary2-light);
}

/* guide button hover */
.dark .guide ion-button:active,
ion-button:hover {
    --background: var(--complementary2-light) !important;
}

.contrast .guide {
    --background: var(--complementary-colour2) !important;
    --ripple-color: var(--complementary2-dark);
}

/* guide button hover */
.contrast .guide ion-button:active,
ion-button:hover {
    --background: var(--complementary2-dark) !important;
}


.light .start {
    --background: var(--complementary-colour3) !important;
    --ripple-color: var(--complementary3-text);
}

/* start button hover */
.light .start ion-button:active,
ion-button:hover {
    --background: var(--complementary3-text) !important;
}

.dark .start {
    --background: var(--complementary-colour3) !important;
    --ripple-color: var(--complementary3-light);
}

/* start button hover */
.dark .start ion-button:active,
ion-button:hover {
    --background: var(--complementary3-light) !important;
}

/* start button hover */
.contrast .start ion-button:active,
ion-button:hover {
    --background: var(--complementary3-dark) !important;
}

.contrast .start {
    --background: var(--complementary-colour3) !important;
    --ripple-color: var(--complementary3-dark);
}

.border-bottom {
    border-top: solid var(--text) .1em;
}

.image-row {
    padding-bottom: 20px;
}

.bottom-image {
    padding-bottom: 100px;
}

/*Fix the done button to the bottom at all times */
.done-btn {
    position: fixed;
    bottom: 90px;
}