@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

h1,h2 {
  font-family: "Playwrite IT Moderna", serif;
}

/* To add spacing to some headings*/
.heading {
  padding-top: 50px;
  padding-bottom: 20px;
}

p {
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

ion-input {
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

.dark {
  --text: #f2c0cb;
  --background-color: #3f0d19;
  --mid-pink: #e58098;
  --lighter-pink: #d84164;
  --darker-pink: #e16b86;
  --darker-background: #7f1a32;
  --complementary-colour: #D4582B;
  --complementary-colour2: #D42BA7;
  --complementary-colour3: #FFCC00; 

  --ion-background-color: var(--background-color);

  --ion-text-color: var(--text);

  --ion-toolbar-color: var(--darker-background) !important;

  --ion-toolbar-background: var(--darker-background);

  --ion-tab-bar-color: var(--text);

  --ion-tab-bar-background: var(--darker-background);

  --ion-border-color: var(--background-color);

  --ion-tab-bar-color-selected: var(--darker-background);
}

/* This changes the date picker icon to an image */
/* This changes the date picker icon to an image */
.dark .native-input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url('/calendarDark.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.dark ion-tab-button {
  --background: var(--darker-background);
  --color: var(--text);
}


/* change the background colour of the selected tab */
.dark ion-tab-button.tab-selected {
  --background: var(--mid-pink);
  color: var(--background-color);
}


/* Center the title */
ion-title {
  font-family: "Playwrite IT Moderna", serif;

  &.md {
    width: 100%;
    position: absolute;
    left: 0;
    height: 0;
    text-align: center;
  }
}

.btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-grid {
  --ion-grid-width: 50%;

  --ion-grid-width-xs: 90%;
  --ion-grid-width-sm: 310px;
  --ion-grid-width-md: 384px;
  --ion-grid-width-lg: 480px;
  --ion-grid-width-xl: 570px;
}

ion-radio {
  --color: var(--mid-pink);
  --color-checked: var(--darker-pink);
}

ion-checkbox {
  --checkmark-color: var(--background-color);
  --checkbox-background-checked: var(--darker-pink);
  --border-color-checked: var(--darker-pink);
  --border-color: var(--mid-pink);
}

ion-button {
    --background: var(--darker-pink);
   
    color: #3f0d19;
  
    --border-radius: 15px;
    border-color:#3f0d19 8;
    --border-style: solid;
    --border-width: 1px;
    
    
    --box-shadow: 0 0 0 0;
  
    font-family: "Playwrite IT Moderna", serif;
  }
  
  /*Hovered and clicked buttons will change colour*/
  ion-button:active, ion-button:hover{
    --background: var(--darker-pink);
  }
  
  .colourIcon {
    color: var(--darker-pink);
  }

  .profileButton {
    color: var(--text);
    background-color: var(--darker-background);
    --border-width: 0;
  }