@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

h1,h2 {
  font-family: "Playwrite IT Moderna", serif;
  color: var(--text);
}

/* To add spacing to some headings*/
.heading {
  padding-top: 50px;
  padding-bottom: 20px;
}

p, h3 {
  color: var(--text);
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

ion-input {
  color: var(--text);
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

.dark {
  --text: #f2c0cb;
  --background-color: #2a0911;
  --mid-pink: #e58098;
  --lighter-pink: #d84164;
  --darker-pink: #e16b86;
  --darker-background: #7f1a32;

  --complementary-colour: #be4f27;
  --complementary-light: #eebcaa;
  --complementary-text: black;

  --complementary-colour2: #be2796;
  --complementary2-light: #eeaadc;
  --complementary2-text: black;

  --complementary-colour3: #e6b800; 
  --complementary3-text: black;
  --complementary3-light: #ffeb99;

  --contrast: black;
  
  --lighter-background: black;
  
  --complementary-colour4: #4d94ff;

  --ion-background-color: var(--background-color);

  --ion-toolbar-color: var(--text);

  --ion-color-primary: var(--mid-pink);

  --ion-text-color: var(--text);

  --ion-toolbar-background: var(--darker-background);

  --ion-tab-bar-color: var(--text);

  --ion-tab-bar-background: var(--darker-background);

  --ion-border-color: var(--background-color);

  --ion-tab-bar-color-selected: var(--darker-background);
}


.dark ion-tab-button {
  --background: var(--darker-background);
  color: var(--text);
}


/* change the background colour of the selected tab */
.dark ion-tab-button.tab-selected {
  --background: var(--mid-pink);
  color: var(--background-color);
}


.dark ion-tab-button:hover::part(native) {
  background: var(--lighter-pink);
  color: var(--text) !important;
}


/* change the background colour of the selected tab on hover */
.dark ion-tab-button.tab-selected:hover::part(native) {
  background: var(--darker-pink);
  color: var(--background-color) !important;
}

/* Center the title */
ion-title {
  font-family: "Playwrite IT Moderna", serif;
  text-align: center;
}

.btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-grid {
  --ion-grid-width: 50%;

  --ion-grid-width-xs: 90%;
  --ion-grid-width-sm: 310px;
  --ion-grid-width-md: 384px;
  --ion-grid-width-lg: 480px;
  --ion-grid-width-xl: 570px;
}

ion-radio {
  --color: var(--mid-pink);
  --color-checked: var(--darker-pink);
}

ion-checkbox {
  --checkmark-color: var(--background-color);
  --checkbox-background-checked: var(--darker-pink);
  --border-color-checked: var(--darker-pink);
  --border-color: var(--mid-pink);
}

ion-button {
    --background: var(--darker-pink);
   
    color: #3f0d19;
  
    --border-radius: 15px;
    border-color:#3f0d19 8;
    --border-style: solid;
    --border-width: 1px;
    
    
    --box-shadow: 0 0 0 0;
  
    font-family: "Playwrite IT Moderna", serif;
  }
  
  /*Hovered and clicked buttons will change colour*/
  ion-button:active, ion-button:hover{
    --background: var(--darker-pink);
  }
  
  .colourIcon {
    color: var(--darker-pink);
  }

/* Button the profile icon sits on*/
.dark .profileButton {
  --background: var(--darker-background) !important;
}

/* profile icon itself */
.dark .profileIcon {
  color: var(--text) !important;
  
}

ion-item {
  color: var(--text);
}


/* make menu items white on hover */
.dark .menuHover ion-label:hover {
  color: white !important;
  --ion-text-color: white;
}

.dark .dangerText {
  color: var(--background-color) !important;
}