@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

h1,h2 {
  color: var(--text);
  font-family: "Playwrite IT Moderna", serif;
}

/* To add spacing to some headings*/
.heading {
  padding-top: 50px;
  padding-bottom: 20px;
}

p, h3 {
  color: var(--text);
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

ion-input {
  color: var(--text);
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

.contrast {
  --text: #2A0911;
  --contrast-text: #ffffff;
  --background-color: #ffffff;
  --lighter-pink: #be274a;
  --mid-pink: #941e3a;
  --darker-pink: #6a1629;
  --darker-background: #941E3A;
  --complementary-colour: #115545;
  --complementary-colour2: #26004d;
  --complementary-colour3: #00264d; 
  --complementary-colour4: #4d2600; 
  --lighter-background: white;

  --ion-background-color: var(--background-color);

  --ion-toolbar-background: var(--darker-background);

  --ion-color-primary: var(--mid-pink);

  --ion-toolbar-color: var(--contrast-text);

  --ion-tab-bar-color: var(--text);

  --ion-border-color: var(--background-color);

  --ion-tab-bar-color-selected: var(--text);

  --ion-tab-bar-color-focused: var(--darker-text);
}

/* change the background colour of the selected tab */
.contrast ion-tab-button {
  --background: var(--background-color);
  --color: var(--text);
}


/* change the background colour of the selected tab */
.contrast ion-tab-button.tab-selected {
  --background: var(--mid-pink);
  color: var(--background-color);
}


/* Center the title */
ion-title {
  font-family: "Playwrite IT Moderna", serif;
  text-align: center;

}

.btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* This changes the date picker icon to an image */
.contrast .native-input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url('/calendarContrast.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-grid {
  --ion-grid-width: 50%;

  --ion-grid-width-xs: 90%;
  --ion-grid-width-sm: 310px;
  --ion-grid-width-md: 384px;
  --ion-grid-width-lg: 480px;
  --ion-grid-width-xl: 570px;
}

ion-radio {
  --color: var(--darker-pink);
  --color-checked: var(--mid-pink);
}

ion-checkbox {
  --checkmark-color: var(--background-color);
  --checkbox-background-checked: var(--darker-pink);
  --border-color-checked: var(--darker-pink);
  --border-color: var(--mid-pink);
}

ion-button {
  --background: var(--background-color);

  color: var(--background-color);
  /*for higher contrast*/

  --border-radius: 15px;
  border-color: var(--background-color)8;
  --border-style: solid;
  --border-width: 1px;
  --background-activated: var(--darker-pink);

  --ripple-color: var(--mid-pink);

  --box-shadow: 0 0 0 0;

  font-family: "Playwrite IT Moderna", serif;
}

:host(.button-solid) {
  --background: var(--mid-pink) !important;
  --background-activated: var(--darker-pink) !important;
  --background-focused: var(--darker-pink) !important;
  --background-hover: var(--darker-pink) !important;
}

/*Hovered and clicked buttons will change colour*/
ion-button:active,
ion-button:hover {
  --background: var(--darker-pink);
  --background-activated: var(--darker-pink);
}

.colourIcon {
  color: var(--mid-pink);
}

.profileButton {
  color: var(--text);
  background-color: var(--darker-background);
  --border-width: 0;
}

/* the track page needs different styling to look good on high contrast*/
/* the ion column changes only apply to the track page */
.contrast .track-page ion-col {
  background-color: var(--background-color);
  border: var(--mid-pink);
  border-width: .2em;
  border-style: solid;
  color: var(--text);
  text-align: center;
  font-family: "Delius", serif;
}

.contrast .ion-activatable.clicked {
  background-color: var(--mid-pink);
  /* Highlight color */
  color: var(--background-color);
}

/* colour for clicked icon */
.contrast .clickedIcon ion-icon {
  color: var(--background-color)
}

/* Button the profile icon sits on*/
.contrast .profileButton {
  --background: var(--darker-background) !important;
}

/* profile icon itself */
.contrast .profileIcon {
  color: var(--background-color) !important;
  
}

.contrast.fc {
  --fc-today-bg-color: green;
}

ion-item {
  color: var(--text);
}