@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

h1 {
  font-family: "Playwrite IT Moderna", serif;
}

/* To add spacing to some headings*/
.heading {
  padding-top: 50px;
  padding-bottom: 20px;
}

p {
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

ion-input {
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

.light {
  --text: #6a1629;
  --darker-text: #3f0d19;
  --background-color: #fbeaee;
  --mid-pink: #d42b53;
  --darker-pink: #bb2649;
  --darker-background: #eeaaba;

  --ion-background-color: var(--background-color);

  --ion-toolbar-background: var(--darker-background);

  --ion-text-color: var(--text);

  --ion-toolbar-color: var(--text);

  --ion-tab-bar-color: var(--text);

  --ion-border-color: var(--background-color);

  --ion-tab-bar-color-selected: var(--darker-text);
}

/* change the background colour of the selected tab */
ion-tab-button.tab-selected {
  --background: var(--mid-pink);
}

/* Center the title */
ion-title {
  font-family: "Playwrite IT Moderna", serif;

  &.md {
    width: 100%;
    position: absolute;
    left: 0;
    height: 0;
    text-align: center;
  }
}

.btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* This changes the date picker icon to an image */
.native-input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url('/calendar.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-grid {
  --ion-grid-width: 50%;

  --ion-grid-width-xs: 90%;
  --ion-grid-width-sm: 310px;
  --ion-grid-width-md: 384px;
  --ion-grid-width-lg: 480px;
  --ion-grid-width-xl: 570px;
}

ion-radio {
  --color: var(--text);
  --color-checked: var(--darker-pink);
}

ion-checkbox {
  --checkmark-color: var(--background-color);
  --checkbox-background-checked: var(--darker-pink);
  --border-color-checked: var(--darker-pink);
  --border-color: var(--mid-pink);
}

ion-button {
  --background: var(--mid-pink);

  --color: var(--darker-text); /*for higher contrast*/

  --border-radius: 15px;
  --border-color: var(--background-color)8;
  --border-style: solid;
  --border-width: 1px;
  
  --ripple-color: var(--mid-pink);
  
  --box-shadow: 0 0 0 0;

  font-family: "Playwrite IT Moderna", serif;
}

/*Hovered and clicked buttons will change colour*/
ion-button:active, ion-button:hover{
  --background: var(--darker-pink);
}

/* Prevent buttons from turning blue on iOS when hovered */
ion-button::-webkit-touch-callout, 
ion-button::-webkit-user-select, 
ion-button::selection {
  background: transparent;
}

.colourIcon {
  color: var(--darker-pink);
}

.profileButton {
  color: var(--text);
  background-color: var(--darker-background);
  --border-width: 0;
}